
body{
  margin: 16px auto;
  width:75%;
  font-family: sans-serif;
  line-height: 1.5;
}

section{
  display:flex;
  flex-direction: column;
}

.advice{
  background-color:rgba(241, 58, 58, 0.6);
  color: white;
  padding: 16px 32px;
  border-radius: 3px;
}

h1{
  text-align: center;
  color:rgb(97, 21, 21);
}

h4{
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 14px;
}

p{
  margin-bottom: 24px;
}
